.nav,
.main,
.news,
.partner,
.product_list,
.product_ma,
.footer,
.about,
.contactMe,
.commodity,
.commodityPro {
  width: 1200px;
  margin: 0 auto;
}
/*************************首页*************************************/
.nav {
  overflow: hidden;
}
.nav > a {
  display: inline-block;
  float: left;
}
.nav > a img {
  float: left;
  line-height: 110px;
  padding-top: 10px;
}
.nav ul {
  float: right;
}
.nav ul li {/*1.1修改*/
  position: relative;
  float: left;
  height: 80px;
  margin-top: 30px; ;
  width: 120px;
}
.nav ul li > a {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 50px;
  width: 120px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 100;
}
.nav ul li > a:hover {
  color: #369739;
}
.nav ul li.active a {
  color: #369739;
}
.nav ul .nav_last_li {
  width: 100px;
}
.nav ul .nav_last_li select {/*1.1修改*/
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 12px 25px;
  padding: 5px 10px;
  padding-right: 30px;
  background: #eeeeee url("../images/select_03.png") no-repeat 90% center;
}
.nav ul .nav_last_li select::-ms-expand { display: none; }/*1.1修改*/
.footer p {
  line-height: 85px;
  text-align: center;
  font-size: 18px;
}
.footer p span {
  margin-right: 15px;
  color: #373737;
}
.foot {
  background: #369739;
}
.foot p span {
  color: #ffffff;
}
.banner {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 790px;
  overflow: hidden;
}
.banner > p {
  position: absolute;
  bottom: 15px;
  left: 45%;
}
.banner > p a {
  display: inline-block;
  width: 40px;
  height: 10px;
  border-radius: 2px;
  margin: 0 5px;
  border: 1px solid #eeeeee;
  box-shadow: 0 0 3px #fff404;
}
.banner > p a:hover {
  background: #23ac38;
}
.banner > p a.active {
  background: #23ac38;
}
.banner .bannerImg {
  position: absolute;
  top: 0;
  width: 600%;
}
.banner .bannerImg > li {
  float: left;
  position: relative;
  width: 16.66666667%;
}
.banner .bannerImg > li > a {
  display: block;
}
.banner .bannerImg > li > a img {
  width: 100%;
  min-width: 1200px;
  height: 790px;
}
.banner .bannerImg > li > div {
  position: absolute;
  width: 100%;
  top: 140px;
}
.banner .bannerImg > li > div p {
  width: 1200px;
  margin: 0 auto;
  padding-left: 400px;
  padding-right: 200px;
  font-size: 16px;
  color: #b1bec7;
}
.banner .bannerImg > li > div > p.p1 {
  font-size: 55px;
  color: #369739;
  font-weight: bold;
  text-shadow: 5px 2px 6px #fff;
}
.banner .bannerImg > li > div > p.p2 {
  font-size: 55px;
  color: #004cd6;
  font-weight: bold;
  text-shadow: 5px 2px 6px #fff;
}
.imgPro img {
  width: 100%;
  min-width: 1200px;
}
/*************************关于我们***********************************/
.backgroundLinear {
  background: -moz-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -webkit-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -o-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -ms-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
}
.topP {
  overflow: hidden;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  background: -moz-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -webkit-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -o-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: -ms-linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
  background: linear-gradient(bottom, #eff4f5 0%, #d8dde3 50%, #f1f5f6 51%, #f1f5f6 100%);
}
.topP a {
  font-size: 18px;
  color: #369739;
  float: left;/*1.1修改*/
}
.topP a.a1 {
  float: right;
}
.about {
  margin: 45px auto 80px;
  border: 1px solid #898989;
}
.about .aboutContent {
  margin: 0px 60px;
}
.about .aboutContent li img {
  height: 100%;
  width: 100%;
}
.about .aboutContent li.p1 {
  margin: 35px 0 25px;
  font-size: 14px;
  line-height: 25px;
}
/*************************关于我们***********************************/
.contactMe {
  margin: 45px auto 80px;
  border: 1px solid #898989;
}
.contactMe > h3 {
  border-left: 5px solid #369739;
  font-size: 22px;
  margin: 40px 0 20px;
  margin-left: 10px;
  padding-left: 5px;
  font-weight: normal;
}
.contactMe p.pH3 {
  line-height: 30px;
  font-size: 16px;
}
.contactMe .contactMol {
  margin: 0 185px;
  margin-top: 40px;
}
.contactMe .contactMol > p {
  line-height: 85px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding-left: 50px;
  overflow: hidden;
}
.contactMe .contactMol > p span {
  float: left;
  font-size: 16px;
}
.contactMe .contactMol > p span img {
  padding-top: 32px;/*1.1修改*/
}
.contactMe .contactMol > p span.span1 {
  font-size: 40px;
  font-weight: bold;
  color: #9a1017;
  margin-right: 20px;
  margin-left: 5px;
}
.contactMe .contactMol > p span.span2 {
  color: #9a1017;
  font-weight: bold;
}
.contactMe .contactMol .contactMolContent {
  margin: 20px 50px;
  font-size: 16px;
}
.contactMe .contactMol .contactMolContent p {
  font-size: 16px;
  line-height: 30px;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput {
  margin-top: 45px;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput p.p1 {/*1.1修改*/
  /*width: 100%;*/
  /*overflow: hidden;*/
}
.contactMe .contactMol .contactMolContent .contactMolContentInput p.p1 input {/*1.1修改*/
  /*float: left;*/
  /*display: inline-block;*/
  line-height: 50px;
  height: 50px;
  font-size: 16px;
  padding: 0 2%;
  width: 44%;
  border: 1px solid #898989;
  color: #898989;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput p.p1 input.input1 {/*1.1修改*/
  margin-right: 1%;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput p.p2 {
  margin: 20px 0;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput p.p2 textarea {/*修改*/
  width: 100%;
  min-height: 180px;
  border: 1px solid #898989;
  padding: 0 15px;
  font-size: 16px;
  line-height: 30px;
  color: #898989;
  resize: none;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput > a {
  display: block;
  width: 85px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #9a1017;
  color: #ffffff;
  border-radius: 5px;
}
.contactMe .contactMol .contactMolContent .contactMolContentInput > a:hover {
  -webkit-box-shadow: 0 0 10px #dd9572;
  -moz-box-shadow: 0 0 10px #dd9572;
  -o-box-shadow: 0 0 10px #dd9572;
  box-shadow: 0 0 10px #dd9572;
  background: #23ac38;/*1.1修改*/
}
.contactMe .contactMap {
  width: 100%;
  height: 475px;
  margin-top: 50px;
}
.contactMe .contactMap img {
  width: 100%;
}
/*************************产品中心***********************************/
.commodityLf {
  margin-right: 20px;
  width: 225px;
}
.commodityLf .commodityLfTop {
  border: 1px solid #898989;
  border-radius: 3px;
}
.commodityLf .commodityLfTop p {
  border-bottom: 1px solid #898989;
  font-size: 18px;
  color: #369739;
  line-height: 40px;
  font-weight: bold;
  padding-left: 15px;
}
.commodityLf .commodityLfTop ul li {
  border-bottom: 1px solid #898989;
  padding-left: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.commodityLf .commodityLfTop ul li a {
  display: block;
  line-height: 40px;
  padding-left: 25px;
  background: url(../images/commodity_08.png) no-repeat 0px center;
  color: #898989;
  font-size: 16px;
}
.commodityLf .commodityLfTop ul li:last-child {
  border-bottom: 1px solid transparent;
}
.commodityLf .commodityLfTop ul li.active {
  padding-left: 30px;
  background: #e6e6e6;
}
.commodityLf .commodityLfTop ul li.active a {
  color: #1d1d1d;
}
.commodityLf .commodityLfTop ul li:hover {
  padding-left: 30px;
  background: #e6e6e6;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.commodityLf .commodityLfTop ul li:hover a {
  color: #1d1d1d;
}
.commodityLf .commodityLfBot {
  margin-top: 20px;
  border: 1px solid #898989;
  border-radius: 3px;
}
.commodityLf .commodityLfBot h1 {
  border-bottom: 1px solid #898989;
  font-size: 18px;
  color: #369739;
  line-height: 40px;
  font-weight: bold;
  padding-left: 15px;
}
.commodityLf .commodityLfBot p {
  line-height: 30px;
  padding-left: 15px;
  font-size: 16px;
}
.commodity {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 90px;
}
.commodity .commodityRt {
  overflow: hidden;
  border: 1px solid #898989;
  border-radius: 3px;
}
.commodity .commodityRt > p {
  font-size: 18px;
  color: #369739;
  line-height: 40px;
  font-weight: bold;
  padding-left: 15px;
}
.commodity .commodityRt ul {
  padding: 10px;
}
.commodity .commodityRt ul li {
  border-bottom: 1px dotted #898989;
  overflow: hidden;
  padding: 25px 20px 10px 20px;
}
.commodity .commodityRt ul li .commodityRtImg {
  float: left;
  width: 170px;
  /*修改*/
  height: 170px;
  /*修改*/
  position: relative;
}
.commodity .commodityRt ul li .commodityRtImg > img {
  /*修改*/
  width: 100%;
}
.commodity .commodityRt ul li .commodityRtImg .img1 {
  position: absolute;
  width: 90px;
  /*修改*/
  height: 120px;
  /*修改*/
  line-height: 120px;
  /*修改*/
  top: 20px;
  /*修改*/
  left: 30px;
  /*修改*/
}
.commodity .commodityRt ul li .commodityRtImg .img1 img {
  width: 100%;
  vertical-align: middle;
}
.commodity .commodityRt ul li .commodityRtContent {
  overflow: hidden;
  padding-left: 60px;
}
.commodity .commodityRt ul li .commodityRtContent h1 {
  line-height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
}
.commodity .commodityRt ul li .commodityRtContent p {
  line-height: 25px;
  font-size: 16px;
}
.commodity .commodityRt ul li .commodityRtContent a {
  display: inline-block;
  width: 375px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  background: #e6e6e6;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.commodity .commodityRt ul li .commodityRtContent a:hover {
  background: #88c50e;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.commodity .commodityRt ul li:last-child {
  border-bottom: 1px dotted transparent;
}
.commodity .commodityRt .fenye {
  text-align: center;
  margin: 0 0 10px;
}
.commodity .commodityRt .fenye a {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  border: 1px solid #d2d4d9;
  line-height: 25px;
  padding: 0 8px;
  margin: 0 3px;
}
.commodity .commodityRt .fenye a.active {
  background: #369739;
  color: #ffffff;
}
.commodity .commodityRt .fenye a:hover {
  background: #369739;
  color: #ffffff;
}
/*************************产品详情***********************************/
.commodityPro {
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 90px;
}
.commodityPro .commodityProRt {
  overflow: hidden;
  border: 1px solid #898989;
  border-radius: 3px;
}
.commodityPro .commodityProRt > div {
  padding: 20px;
}
.commodityPro .commodityProRt > div .productIntroduction {
  overflow: hidden;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa {
  float: left;
  width: 350px;
  height: 350px;
  padding-left: 0;
  background: url(../images/commodity_05.png) no-repeat center center;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa .con-fangDaIMg {
  width: 60%;
  height: 250px;
  line-height: 250px;
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa .con-fangDaIMg > img {
  width: 100%;
  vertical-align: middle;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa .con-fangDaIMg .magnifyingBegin {
  background-color: #454545;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa .con-fangDaIMg .magnifyingShow {
  width: 340px;
  height: 340px;
  overflow: hidden;
  position: absolute;
  background: #f1f5f6;
  border: 1px solid #d2d4d9;
  top: -20px;
  left: 300px;
  display: none;
}
.commodityPro .commodityProRt > div .productIntroduction > .con-FangDa .con-fangDaIMg .magnifyingShow img {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.commodityPro .commodityProRt > div .productIntroduction > div.mn {/*1.1修改*/
  padding-left: 60px;
  overflow: hidden;
}
.commodityPro .commodityProRt > div .productIntroduction > div.mn h4 {/*1.1修改*/
  line-height: 40px;
  border-bottom: 1px dotted #898989;
  font-size: 18px;
  color: #369739;
  margin-bottom: 5px;
}
.commodityPro .commodityProRt > div .productIntroduction > div.mn p {/*1.1修改*/
  line-height: 26px;
  font-size: 16px;
}
.commodityPro .commodityProRt > div .productAttributes {
  margin-top: 55px;
}
.commodityPro .commodityProRt > div .productAttributes h1 {
  border-bottom: 1px solid #898989;
  margin-bottom: 30px;
}
.commodityPro .commodityProRt > div .productAttributes h1 span {
  display: inline-block;
  background: #88c50e;
  border-radius: 5px;
  width: 230px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.commodityPro .commodityProRt > div .productAttributes table {
  width: 100%;
  border: 1px solid #898989;
}
.commodityPro .commodityProRt > div .productAttributes table tr td {
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #898989;
  padding-left: 45px;
}
.commodityPro .commodityProRt > div .productAttributes table tr td:first-child {
  width: 35%;
  border-right: 1px solid #898989;
  background: #dae2ed;
  padding-left: 30px;
  font-weight: bold;
}
.commodityPro .commodityProRt > div .productAttributes table tr:last-child td {
  border-bottom: none;
}
.commodityPro .commodityProRt > div .productAttributes p {
  margin-top: 25px;
}
.commodityPro .commodityProRt > div .productAttributes p img {
  width: 100%;
}
